:root {
  --rstse-primary: 144, 144, 144;
}

.rstse__search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  position: relative;
  font-family: sans-serif;
  color: rgb(var(--rstse-primary));
}

.rstse__search_bar_input {
  width: 100%;
  min-height: 30px;
  height: auto;
  padding: 6px 80px 6px 12px;
  border: 1px solid rgb(var(--rstse-primary));
  border-radius: 6px;
  background: #fff;
  color: rgb(var(--rstse-primary));
}

.rstse__search_bar > div {
  position: absolute;
  right: 0;
  transform: translateX(-10px);
  display: flex;
  gap: 3px;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}

.rstse__search_bar_keys {
  background-color: rgb(var(--rstse-primary));
  border-radius: 5px;
  padding: 2.5px 5px;
  color: white;
  line-height: 1;
}

.rstse__search_portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rstse__search_portal > div {
  min-width: 250px;
  width: 95%;
  max-width: 600px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 600px;
  height: 90%;
}

.rstse__search_portal > div > h3 {
  font-size: 20px;
  font-weight: bold;
}

.rstse__search_portal__hidden {
  display: none;
}

.rstse__search_result {
  border: 1px solid rgb(var(--rstse-primary));
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.rstse__search_result_err {
  padding: 12px;
  color: rgb(var(--rstse-primary));
  line-height: 1.1;
  text-align: center;
}

.rstse__search_result_pane {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 8px;
  scrollbar-width: 1px;
  height: 100%;
  gap: 8px;
}

.rstse__search_result_pane > h3 {
  font-size: 12px;
  line-height: 1.05;
  text-transform: uppercase;
  color: rgb(var(--rstse-primary));
  padding: 6px 12px;
  border-bottom: 0.5px solid rgb(var(--rstse-primary));
  font-weight: light;
  width: 100%;
}

.rstse__search_result_pane > div {
  display: flex;
  flex-direction: column;
}

.rstse__search_result_pane > div > a {
  padding: 12px;
  border-radius: 5px;
}

.rstse__search_result_pane > div > a:hover {
  background-color: rgba(59, 209, 255, 0.2);
}

.rstse__search_result_pane > div > a:hover > h4 {
  color: rgba(0, 107, 229, 1);
}

.rstse__search_result_pane > div > a > h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.02;
  margin-bottom: 4px;
  color: rgb(57, 57, 57);
}

.rstse__search_result_pane > div > a > p {
  font-size: 14px;
  line-height: 1.04;
  color: rgb(74, 85, 101);
}

.rstse__search_result_pane > div > a > p > mark {
  background-color: rgba(0, 107, 229, 0.8);
  color: #fff;
}

.rstse__search_loading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-family: monospace;
}

.rstse__search_result_pane_no_result {
  color: rgb(var(--rstse-primary));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rstse-animate-fade-in {
  animation: rstse-animate-fade-in 0.4s linear;
}

@keyframes rstse-animate-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rstse_spinner_1KD7 {
  animation: rstse_spinner_6QnB 1.2s infinite;
}
.rstse_spinner_MJg4 {
  animation-delay: 0.1s;
}
.rstse_spinner_sj9X {
  animation-delay: 0.2s;
}
.rstse_spinner_WwCl {
  animation-delay: 0.3s;
}
.rstse_spinner_vy2J {
  animation-delay: 0.4s;
}
.rstse_spinner_os1F {
  animation-delay: 0.5s;
}
.rstse_spinner_l1Tw {
  animation-delay: 0.6s;
}
.rstse_spinner_WNEg {
  animation-delay: 0.7s;
}
.rstse_spinner_kugV {
  animation-delay: 0.8s;
}
.rstse_spinner_4zOl {
  animation-delay: 0.9s;
}
.rstse_spinner_7he2 {
  animation-delay: 1s;
}
.rstse_spinner_SeO7 {
  animation-delay: 1.1s;
}
@keyframes rstse_spinner_6QnB {
  0%,
  50% {
    animation-timing-function: cubic-bezier(0.27, 0.42, 0.37, 0.99);
    r: 0;
  }
  25% {
    animation-timing-function: cubic-bezier(0.53, 0, 0.61, 0.73);
    r: 2px;
  }
}
